html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}


body{
	line-height:1;
}


ol,ul{
	list-style:none;
}


blockquote,q{
	quotes:none;
}


blockquote:before,blockquote:after,q:before,q:after{
	content:'';
	content:none;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

body{
	-webkit-text-size-adjust:none

}

mark{
	background-color:transparent;
	color:inherit

}

input::-moz-focus-inner{
	border:0;
	padding:0

}

input[type="text"],input[type="email"],select,textarea{
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	appearance:none

}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.0;
	word-wrap: break-word;
	overflow-x: hidden;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

a {
	-moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	color: inherit;
	text-decoration: underline;
	
	}

s {
	text-decoration: line-through;
}

body:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	width: calc(100% - 40rem);
	width: calc(100vw - 40rem);
	left: auto;
	right: 0;
	background-image: url('images/ernesto.jpg');
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: scroll;
	background-color: #FFFFFF;
}

body:after {
	display: block;
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #E9F0F5;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-moz-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	-webkit-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	-ms-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

body.is-loading:after {
	opacity: 1;
	visibility: visible;
}

html {
	font-size: 18pt;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	min-height: 100vh;
	position: relative;
	z-index: 2;
	overflow: hidden;
	padding: 0 3rem 0 0;
}

#main {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	text-align: center;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-size: cover;
	background-image: linear-gradient(45deg, #EDF6FF 0%, #FFFFFF 39%);
	box-shadow: 0rem 0.75rem 4.625rem 0rem rgba(62,77,92,0.188);
}

#main > .inner {
	position: relative;
	z-index: 1;
	border-radius: inherit;
	padding: 4rem 3.5rem;
	max-width: 100%;
	width: 40rem;
}

#main > .inner > * {
	margin-top: 2rem;
	margin-bottom: 2rem;
	-moz-transition: opacity 1s ease-in-out 0s;
	-webkit-transition: opacity 1s ease-in-out 0s;
	-ms-transition: opacity 1s ease-in-out 0s;
	transition: opacity 1s ease-in-out 0s;
	
	}

#main > .inner > :first-child {
	margin-top: 0 !important;
}

#main > .inner > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(-3.5rem);width: calc(100% + 7rem + 0.4725px);max-width: calc(100% + 7rem + 0.4725px);
}

#main > .inner > .full:first-child {
	margin-top: -4rem !important;border-top-left-radius: inherit;border-top-right-radius: inherit;
}

#main > .inner > .full:last-child {
	margin-bottom: -4rem !important;border-bottom-left-radius: inherit;border-bottom-right-radius: inherit;
}

#main > .inner > .full.screen {
	width: 100vw;max-width: 100vw;position: relative;border-radius: 0 !important;left: 0;right: auto;margin-left: calc(-3.5rem);
}

body.is-loading #main > .inner > * {
	opacity: 0;
}

h1 br + br, h2 br + br, h3 br + br, p br + br {
	display: block;content: ' ';margin-top: 0.75rem;
}

h1 .li, h2 .li, h3 .li, p .li {
	display: list-item;padding-left: 0.5em;margin: 0.75em 0 0 1em;
}

#text02 {
	letter-spacing: -0.125rem;font-weight: 300;
}

#text01 {
	color: #E87068;font-size: 1.75em;
}

#text03 br + br {
	margin-top: 1.05rem;
}

#text03 {
	font-size: 1em;line-height: 1.75;
}

#text03 a {
	text-decoration: underline;
}

#text03 a:hover {
	text-decoration: none;
}

h1, h2, h3, p {
	color: #000000;font-family: 'Spectral';letter-spacing: -0.025rem;width: 100%;font-size: 3.75em;line-height: 1.25;font-weight: 200;
}

.container > .inner {
	vertical-align: top;position: relative;max-width: 100%;border-radius: inherit;
}

#main .container.full:first-child > .inner {
	border-top-left-radius: inherit;border-top-right-radius: inherit;
}

#main .container.full:last-child > .inner {
	border-bottom-left-radius: inherit;border-bottom-right-radius: inherit;
}

#container01 > .inner {
	padding: 0rem 0rem;width: 75rem;background-color: transparent;display: inline-block;
}

#container01 > .inner > * {
	margin-top: 1rem;margin-bottom: 1rem;
}

#container01 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container01 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container02 > .inner {
	padding: 3rem 0rem;width: 100%;max-width: 40rem;display: inline-block;
}

#container02 {
	display: -moz-flex;display: -webkit-flex;display: -ms-flex;display: flex;width: 100%;-moz-align-items: center;-webkit-align-items: center;-ms-align-items: center;align-items: center;-moz-justify-content: flex-start;-webkit-justify-content: flex-start;-ms-justify-content: flex-start;justify-content: flex-start;background-color: transparent;border-style: solid;border-color: rgba(0,0,0,0.102);border-top-width: 1px;border-bottom-width: 1px;border-radius: 0rem;
}

#container02 > .inner > * {
	margin-top: 1rem;margin-bottom: 1rem;
}

#container02 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container02 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container02 > .inner > .full {
	margin-left: calc(0rem);width: calc(100% + 0rem + 0.4725px);max-width: calc(100% + 0rem + 0.4725px);
}

#container02 > .inner > .full:first-child {
	margin-top: -3rem !important;border-top-left-radius: inherit;border-top-right-radius: inherit;
}

#container02 > .inner > .full:last-child {
	margin-bottom: -3rem !important;border-bottom-left-radius: inherit;border-bottom-right-radius: inherit;
}

.buttons {
	cursor: default;padding: 0;letter-spacing: 0;
}

.buttons li a {
	text-decoration: none;text-align: center;white-space: nowrap;max-width: 100%;
}

#buttons01 {
	width: calc(100% + 1rem);margin-left: -0.5rem;
}

#buttons01 li {
	display: inline-block;vertical-align: middle;max-width: calc(100% - 1rem);margin: 0.5rem;
}

#buttons01 li a {
	display: block;width: auto;height: 3rem;line-height: 3rem;padding: 0 1.5rem;font-size: 1em;font-family: 'Spectral';font-weight: 200;border-radius: 0rem;
}

#buttons01 .n01 {
	color: #000000;border: solid 1px rgba(0,0,0,0.102);
}

#buttons01 .n01:hover {
	color: #000000;border-color: #000000;
}

#buttons01 .n02 {
	color: #000000;border: solid 1px rgba(0,0,0,0.102);
}

#buttons01 .n02:hover {
	color: #000000;border-color: #000000;
}

#buttons01 .n03 {
	color: #000000;border: solid 1px rgba(0,0,0,0.102);
}

#buttons01 .n03:hover {
	color: #000000;border-color: #000000;
}

@media (max-width: 1920px) {
	body:before {
	width: calc(100% - 40rem);width: calc(100vw - 40rem);
}

#main > .inner {
	width: 40rem;
}

}

@media (max-width: 1680px) {
	html {
	font-size: 13pt;
}

}

@media (max-width: 1280px) {
	body:before {
	width: calc(100% - 30rem);width: calc(100vw - 30rem);
}

html {
	font-size: 13pt;
}

#main > .inner {
	width: 30rem;
}

}

@media (max-width: 1024px) {
	body:before {
	width: calc(100% - 25rem);width: calc(100vw - 25rem);
}

#main > .inner {
	width: 25rem;
}

}

@media (max-width: 980px) {
	html {
	font-size: 11pt;
}

body {
	display: -moz-flex;display: -webkit-flex;display: -ms-flex;display: flex;-moz-flex-direction: column;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;background-color: #EDF6FF;
}

body:before {
	position: relative;width: 100%;height: 45vh;-moz-flex-grow: 1;-webkit-flex-grow: 1;-ms-flex-grow: 1;flex-grow: 1;-moz-flex-shrink: 0;-webkit-flex-shrink: 0;-ms-flex-shrink: 0;flex-shrink: 0;
}

#main {
	width: 100%;border-radius: 0;box-shadow: none;border-left: none;border-right: none;border-bottom: none;-moz-align-items: center;-webkit-align-items: center;-ms-align-items: center;align-items: center;-moz-justify-content: center;-webkit-justify-content: center;-ms-justify-content: center;justify-content: center;background-image: linear-gradient(45deg, #EDF6FF 0%, #FFFFFF 39%);
}

#main > .inner {
	background: none;width: auto;max-width: 75%;
}

#wrapper {
	height: auto !important;min-height: 0;padding: 0;box-shadow: -0rem -0.75rem 4.625rem 0rem rgba(62,77,92,0.188);
}

}

@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}

	#main > .inner {
		padding: 3.5rem 2rem;max-width: 100%;
	}

	#main > .inner > * {
		margin-top: 2.75rem;margin-bottom: 2.75rem;
	}

	#wrapper {
		padding: 0;
	}

	#main > .inner > .full {
		margin-left: calc(-2rem);width: calc(100% + 4rem + 0.4725px);max-width: calc(100% + 4rem + 0.4725px);
	}

	#main > .inner > .full:first-child {
		margin-top: -3.5rem !important;
	}

	#main > .inner > .full:last-child {
		margin-bottom: -3.5rem !important;
	}

	#main > .inner > .full.screen {
		margin-left: calc(-2rem);
	}

	#text02 {
		font-size: 3.5em;
	}

	#container01 > .inner {
		padding: 0rem 0rem;
	}

	#container01 > .inner > * {
		margin-top: 1rem;margin-bottom: 1rem;
	}

	#container02 > .inner {
		padding: 2.5rem 0rem;max-width: 100%;
	}

	#container02 > .inner > * {
		margin-top: 1rem;margin-bottom: 1rem;
	}

	#container02 > .inner > .full {
		margin-left: calc(0rem);width: calc(100% + 0rem + 0.4725px);max-width: calc(100% + 0rem + 0.4725px);
	}

	#container02 > .inner > .full:first-child {
		margin-top: -2.5rem !important;
	}

	#container02 > .inner > .full:last-child {
		margin-bottom: -2.5rem !important;
	}
}

@media (max-width: 480px) {
	#main > .inner > * {
	margin-top: 2.75rem;
	margin-bottom: 2.75rem;
}

#wrapper {
	padding: 0;
}

#container01 > .inner > * {
	margin-top: 0.875rem;
	margin-bottom: 0.875rem;
}

#container02 > .inner > * {
	margin-top: 0.875rem;
	margin-bottom: 0.875rem;
}

#buttons01 {
	margin-left: 0;
	width: 100%;
	padding: 0.5rem 0;
}

#buttons01 li {
	max-width: 100%;
	display: block;
	margin: 1rem 0;
}

#buttons01 li:first-child {
	margin-top: 0;
}

#buttons01 li:last-child {
	margin-bottom: 0;
}

#buttons01 li a {
	display: inline-block;
	width: 100%;
	max-width: 32rem;
}

}

@media (max-width: 360px) {
	#main > .inner {
	padding: 2.625rem 1.5rem;
}

#main > .inner > * {
	margin-top: 2.40625rem;
	margin-bottom: 2.40625rem;
}

#wrapper {
	padding: 0;
}

#main > .inner > .full {
	margin-left: calc(-1.5rem);
	width: calc(100% + 3rem + 0.4725px);
	max-width: calc(100% + 3rem + 0.4725px);
}

#main > .inner > .full:first-child {
	margin-top: -2.625rem !important;
}

#main > .inner > .full:last-child {
	margin-bottom: -2.625rem !important;
}

#main > .inner > .full.screen {
	margin-left: calc(-1.5rem);
}

#text01 {
	font-size: 1.5em;
}

#container01 > .inner {
	padding: 0rem 0rem;
}

#container01 > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#container02 > .inner {
	padding: 1.875rem 0rem;
}

#container02 > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#container02 > .inner > .full {
	margin-left: calc(-0rem);
	width: calc(100% + 0rem + 0.4725px);
	max-width: calc(100% + 0rem + 0.4725px);
}

#container02 > .inner > .full:first-child {
	margin-top: -1.875rem !important;
}

#container02 > .inner > .full:last-child {
	margin-bottom: -1.875rem !important;
}

#buttons01 {
	width: calc(100% + 0.75rem);
	margin-left: -0.375rem;
	width: 100%;
	margin-left: 0;
	padding: 0.375rem 0;
}

#buttons01 li {
	max-width: calc(100% - 0.75rem);
	margin: 0.375rem;
	max-width: 100%;
	margin: 0.75rem 0;
}

}

body {
	overflow: auto !important;
}

body:after {
	display: none !important;
}

#main > .inner {
	opacity: 1.0 !important;
}

#main > .inner > * {
	opacity: 1.0 !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
	-moz-filter: none !important;
	-webkit-filter: none !important;
	-ms-filter: none !important;
	filter: none !important;
}

@media (max-width: 980px) {
body:before {
	position: relative;
	width: 100%;
	height: 45vh;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
}
}

